.embedly-embedly-thumb {
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  width: 100px; }
  .embedly-embedly-thumb .embedly-items {
    position: relative;
    overflow: hidden;
    padding: 0px;
    height: 100px;
    width: 100px; }
    .embedly-embedly-thumb .embedly-items .embedly-images {
      position: absolute;
      width: 300em;
      margin: 0px;
      padding: 0px;
      left: 0px; }
      .embedly-embedly-thumb .embedly-items .embedly-images li {
        list-style: none;
        float: left;
        margin: 0px;
        padding: 0px;
        width: 100px;
        height: 100px; }
      .embedly-embedly-thumb .embedly-items .embedly-images img {
        max-width: 100px;
        max-height: 100px; }
  .embedly-embedly-thumb .embedly-controls {
    top: 0px;
    left: 0px;
    width: 100px;
    position: absolute;
    height: 16px;
    z-index: 1;
    background-color: #222;
    opacity: 0.embedly-5; }
    .embedly-embedly-thumb .embedly-controls .embedly-left, .embedly-embedly-thumb .embedly-controls .embedly-right, .embedly-embedly-thumb .embedly-controls .embedly-nothumb {
      display: block;
      position: absolute;
      top: 2px;
      color: #fff; }
      .embedly-embedly-thumb .embedly-controls .embedly-left:hover, .embedly-thumb .embedly-controls .embedly-right:hover, .embedly-thumb .embedly-controls .embedly-nothumb:hover {
        text-decoration: none; }
    .embedly-embedly-thumb .embedly-controls .embedly-nothumb {
      right: 2px;
      font-weight: bold;
      top: 1px; }
    .embedly-embedly-thumb .embedly-controls .embedly-left {
      left: 2px; }
    .embedly-embedly-thumb .embedly-controls .embedly-right {
      left: 16px; }
  .embedly-embedly-thumb .embedly-nothumb {
    right: 2px;
    font-weight: bold;
    top: 1px; }

.embedly-embedly-selector {
  margin: 10px auto;
  position: relative;
  min-height: 85px; }
  .embedly-embedly-selector input {
    width: 420px; }
  .embedly-embedly-selector textarea {
    width: 420px;
    margin: 5px 0; }
  .embedly-embedly-selector .embedly-media iframe, .embedly-selector .embedly-media object, .embedly-selector .embedly-media embed, .embedly-selector .embedly-media img {
    margin: 10px auto;
    display: block; }
  .embedly-embedly-selector .embedly-media img {
    max-width: 500px; }
  .embedly-embedly-selector .embedly-attributes a {
    text-decoration: none; }
    .embedly-embedly-selector .embedly-attributes a.embedly-title:hover, .embedly-selector .embedly-attributes a.embedly-description:hover {
      text-decoration: none;
      background-color: #FFF6D9; }
    .embedly-embedly-selector .embedly-attributes a.embedly-description {
      color: #000; }
    .embedly-embedly-selector .embedly-attributes a.embedly-title {
      margin: 0 0 5px;
      display: block; }
  .embedly-embedly-selector .embedly-attributes .embedly-meta {
    display: block; }
    .embedly-embedly-selector .embedly-attributes .embedly-meta .embedly-favicon {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin: 0 3px 0 0; }
  .embedly-embedly-selector .embedly-action {
    position: absolute;
    top: 0;
    right: 0;
    display: none; }

.embedly-embedly-loading {
  display: none; }
  .embedly-loading img {
    display: block;
    margin: 10px auto; }

.embedly-embedly-item {
  margin: 10px 0;
  border-top: 1px solid #dddddd;
  padding: 10px 0; }
  .embedly-embedly-item.embedly-video .embedly-media iframe, .embedly-item.embedly-video .embedly-media object, .embedly-item.embedly-video .embedly-media embed, .embedly-item.embedly-video .embedly-media img, .embedly-item.embedly-rich .embedly-media iframe, .embedly-item.embedly-rich .embedly-media object, .embedly-item.embedly-rich .embedly-media embed, .embedly-item.embedly-rich .embedly-media img, .embedly-item.embedly-photo .embedly-media iframe, .embedly-item.embedly-photo .embedly-media object, .embedly-item.embedly-photo .embedly-media embed, .embedly-item.embedly-photo .embedly-media img {
    margin: 10px auto;
    display: block; }
  .embedly-embedly-item.embedly-video .embedly-media img, .embedly-item.embedly-rich .embedly-media img, .embedly-item.embedly-photo .embedly-media img {
    max-width: 560px; }
  .embedly-embedly-item.embedly-video .embedly-title, .embedly-item.embedly-rich .embedly-title, .embedly-item.embedly-photo .embedly-title {
    margin: 10px 0;
    display: block;
    font-weight: bold;
    font-size: 1.embedly-1em;
    color: #333; }
  .embedly-embedly-item .embedly-embedly-status {
    line-height: 1.embedly-2em;
    margin: 10px 0;
    padding: 5px; }
  .embedly-embedly-item .embedly-thumbnail {
    margin: 10px 10px 10px 5px;
    width: 105px;
    float: left; }
    .embedly-item .embedly-thumbnail a {
      display: table-cell;
      width: 100px;
      height: 75px;
      overflow: hidden;
      background-color: #DDD;
      vertical-align: middle;
      position: relative;
      text-align: center; }
    .embedly-item .embedly-thumbnail img {
      max-width: 100px;
      vertical-align: middle;
      max-height: 75px; }
    .embedly-item .embedly-thumbnail.embedly-video .embedly-overlay, .embedly-item .embedly-thumbnail.embedly-rich .embedly-overlay {
      background-image: url(.embedly-.embedly-/images/play.embedly-png);
      width: 26px;
      height: 25px;
      position: absolute;
      right: 5px;
      bottom: 5px; }
  .embedly-item .embedly-attributes {
    background-color: #EFEFEF;
    padding: 5px; }
  .embedly-item .embedly-meta {
    display: block; }
    .embedly-item .embedly-meta .embedly-favicon {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin: 0 3px 0 0; }

.embedly-clearfix:after {
  content: ".embedly-";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.embedly-clearfix {
  display: inline-block; }

html[xmlns] .embedly-clearfix {
  display: block; }

* html .embedly-clearfix {
  height: 1%; }
